<header class="flex items-center justify-between px-6 py-4 bg-[var(--red)] text-white">
  <a [routerLink]="'/'" class="text-xl font-bold">Nachhilfeplattform</a>

  <nav class="flex items-center gap-4">
    <a [routerLink]="'subjects'" routerLinkActive="active" class="hover:underline">
      Nachhilfefächer
    </a>
    <a [routerLink]="'teachers'" routerLinkActive="active" class="hover:underline">
      Nachhilfegebende
    </a>

    <a [routerLink]="'offers'" routerLinkActive="active" class="hover:underline">
      Nachhilfeangebote
    </a>



    <!-- Nur anzeigen wenn eingeloggt -->
     @if(isLoggedIn()){

       <a [routerLink]="'appointments'" routerLinkActive="active" class="hover:underline">
         Nachhilfetermine
       </a>

       <a [routerLink]="'profil'" routerLinkActive="active" class="hover:underline">
         Profil
       </a>

       <a [routerLink]="'/login'" routerLinkActive="active" class="hover:underline flex items-center gap-2">
         <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
           <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4Zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4Z" />
         </svg>
       </a>

       <button
         class="btn btn-sm btn-outline btn-primary rounded-full px-4 py-2"
         title="Logout"
         aria-label="Logout"
         (click)="logout()"
         type="button"
       >
         Logout
       </button>
     } @else {
       <a [routerLink]="'/login'" routerLinkActive="active" class="hover:underline">
         {{ getLoginLabel() }}

       </a>
     }

    <input type="checkbox" value="retro" class="toggle theme-controller" />
  </nav>
</header>
