<main class="max-w-screen-md mx-auto px-4 flex flex-col gap-16 py-10">
  <section class="home-section">
    <h1>Nachhilfe</h1>
  </section>

  <section class="subjects-section flex flex-col gap-4">
    <h2>Fächer</h2>
    <h3>Was wir anbieten</h3>
    <p>Wir bieten Nachhilfe für viele verschiedene Fächer, sowohl für die Schule als auch für die Universität.
      Ob Mathe, Englisch, Physik oder Informatik, bei uns findest du Unterstützung, die genau zu deinem Lernstoff
      passt. </p>
    <div class="subjects-button">
      <a routerLink="/subjects" class="btn btn-primary">Zu allen Fächern</a>
    </div>
  </section>

  <section class="teachers-section flex flex-col gap-4">
    <h2>Nachhilfegebende</h2>
    <h3>Wer allers Nachhilfe anbietet</h3>
    <p>Unsere Nachhilfegebenden sind engagierte Schüler:innen, Studierende und Expert:innen, die mit Geduld und
      Leidenschaft Wissen vermitteln. Sie hören zu, erklären verständlich und unterstützen dich genau da,
      wo du Hilfe brauchst.
    </p>
    <div class="teachers-button">
      <a routerLink="/teachers" class="btn btn-primary">Zu allen Nachhilfegebenden</a>
    </div>
  </section>

  <section class="offers-section flex flex-col gap-4">
    <h2>Angebote</h2>
    <h3>Diese Nachhilfeangebote bieten wir an</h3>

    <p>Unsere Nachhilfeangebote umfassen viele Fächer und Lernstufen, bestimmt auch das richtige für dich.</p>
    <p>Die Nachhilfestunden dauern in der Regel 60 Minuten. Natürlich kannst du mit deiner Nachhilfelehrkraft
      individuell andere Zeiten vereinbaren.</p>
    <p>Der Unterricht findet online statt. Den Link zur Sitzung erhältst du zusammen mit dem Kalendereintrag per
      E-Mail.</p>
    <p>Für eine ausführliche Übersicht schau dir alle Angebote auf der Angebotsseite an.</p>
    <div class="offers-button">
      <a routerLink="/offers" class="btn btn-primary">Zu allen Angeboten</a>
    </div>
  </section>

</main>
